#flink,#slink,#tlink{
    float: right;
    text-decoration:none;
    padding-top: 10px;
    color: white;
    opacity: 0.5;
    font-size: 1.5rem;
    margin-left: 40px;
    margin-right: 60px;
}
#flink:hover,#slink:hover,#tlink:hover{
    opacity: 1;
    text-decoration: underline;

}