#upsc, #school ,#civil{
    width: 100%;
    font-weight: lighter;
    color: white;
    background-color: black;
 border: none;
 opacity: 0.6;
}
button:hover{
    text-decoration: underline;
    opacity: 1 !important;
}